$primary: #177E89;
$border: #084C61;
$error: #DB3A34;
$warning: #FFC857;
$heading: #323031;
$text: #555b6e;
$disabled: #dfd5d7;

$background-disabled: #32303180;
$background-app: #084C6110;

$border-faded: #084C6150;
