@import '../../styles/colors';

.carousel-wrapper {
  width: 100vw;
  height: 50vh;
  background-color: $border;
}

.carousel-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

$primary-carousel-item-height: 50vh;
$primary-carousel-item-width: 250px;

.carousel-item {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-item-center {
  height: $primary-carousel-item-height;
  width: $primary-carousel-item-width;
}

.carousel-item-secondary {
  height: 0.8*$primary-carousel-item-height;
  width: 0.8*$primary-carousel-item-width;
}

.carousel-item-outside {
  height: 0.6*$primary-carousel-item-height;
  width: 0.6*$primary-carousel-item-width;
}

.carousel-item-image {
  height: 80%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.carousel-item-title {
  margin-top: 20px;
  text-align: center;
  > p {
    font-weight: bold;
    color: white;
  }
}
