@import '../../../../styles/colors';

.well-header {
  border: 2px solid $border-faded;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  padding: 10px;
  align-items: center;
  background: white;
  box-shadow: 2px 2px 10px $shadow;

  &.open {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
  }
}

.well-content {
  border: 2px solid $border-faded;
  border-top: none;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  transition: height 1s ease-in-out;
  background: white;
  box-shadow: 2px 2px 10px $shadow;
  clip-path: inset(0px -20px -20px -20px);
  &.open {
    height: auto;
  }
  &.closed {
    height: 0;
    overflow: hidden;
    padding: 0;
    border: none;
  }
}

.checklist-item-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  transition: height 1s ease-in-out;
}

.checklist-title {
  white-space: nowrap;
  overflow: hidden;
}

.well-footer {
  display: flex;
  flex-direction: row;
  background: white;
}
