@import '../../../../styles/colors';

.checklist-item-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  transition: transform 1s;
  padding-left: 20px;
  padding-right: 10px;
}

.checklist-title {
  white-space: nowrap;
  overflow: hidden;
}

.well-footer {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
