@import '../../styles/colors';

.button {
  border-radius: 1px;
  display: inline-block;
  text-align: center;
  justify-content: center;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  max-height: 25px;
}
.button:hover {
  filter: brightness(150%);
}

.full-width {
  width: 100%;
}

.button-disabled {
  background-color: $disabled;
  color: $text;
  cursor: not-allowed;
}
.button-disabled:hover{
  filter: none !important;
}

.button-primary {
  color: $border;
  background-color: transparent;
  border: 1px solid $border;
  font-size: small;
};

.button-bold {
  color: white;
  background-color: $border;
  border: white;
}

.button-destructive {
  fill: $error;
  color: white;
}

.button-link-destructive {
  color: $error !important;
}
